html {
    font-size: 62.5%;
}

.wrapper {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
}

.search-container {
    width: 25%;
    height: 100vh;
    margin-right: 1%;
    margin-left: 1.5%;
    padding: 3rem;
    background-color: yellow;
    
}

.food-container {
    width: 35%;
    height: 100vh;
    margin-right: 1%;
    padding: 3rem;
    background-color: blueviolet;
}

.drink-container {
    width: 35%;
    height: 100vh;
    padding: 3rem;
    background-color:forestgreen;
}