@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Urbanist:wght@400;700&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;

}
body {
    background: rgb(197, 193, 193);
}

/* Navigation */
h1 {
    font-size: 5rem;
    font-weight: 700;
}

.wrapper {
    width: 80%;
}



nav .brand-logo {
    line-height: 0;
    font-size: 5rem;
}

.material-icons {
    width: 2rem;
    position: absolute;
    top: 1.8rem;
    margin-left: 2rem;
    font-size: 3rem;
    color: white;
}

/* Welcome Container */
.welcome {
    font-size: 5rem;
}

/* Food Container */


.food-container h2 {
    text-align: center;
}

/* Drink Container */

.drink-container h2 {
    text-align: center;
}



/* Recipe Card  */

.recipe-card {
    text-align: center;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 5px 10px rgb(173, 171, 171);
}

.recipe-img {
    width: 100%;
    height: auto;
}

.btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Modal Container */

.modal-container {
    text-align: left;
}

.modal {
    font-family:'Handlee', cursive;
    font-size: 1.8rem;
}

@media screen and (max-width: 600px) {
    .wrapper {
        width: 95%;
    }
    
    .food-container h2 {
        font-size: 2.7rem;
    }
    
    .drink-container h2 {
        font-size: 2.7rem;
    }

    .recipe-card h4 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 362px) {
    .food-container h2 {
        font-size: 2.5rem;
    }
    
    .drink-container h2 {
        font-size: 2.5rem;
    }

    .recipe-card h4 {
        font-size: 1.7rem;
    }
}